body, html {
    height: 100%;
}

.product-img-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.product-img {
    max-width: 150px;
    vertical-align: middle;
    margin: auto;
    overflow: hidden;
}

.product-img-holder {
    vertical-align: center;
    height: 150px;
    margin: auto;
}

.va-middle {
    vertical-align: middle;
}

.card {
    border-radius: 10px;
}