{% extends 'base.html.twig' %}
{% block title %}
    Админка | Все заказы
{% endblock %}
{% block body %}
    <div class="card col-lg-10 mx-auto">
        <div class="card-header">
            <div class="row p-2">
                <div class="col-auto my-auto">
                    <h5>Все заказы</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if orders is empty %}
                Заказы отсутствуют...
            {% else %}
                {% for order in orders %}
                    <div class="row my-1">
                        <div class="col-2 my-auto">#{{ order.id }}</div>
                        <div class="col-4 my-auto">Статус: {{ order.status.name }}</div>
                        <div class="col-2 my-auto">
                            Цена: {{ order.total.formatted }}
                        </div>
                        <div class="col-4 text-end">
                            <a class="btn btn-sm btn-danger" href="{{ path('app_admin_orders_edit', {id: order.id}) }}">
                                Изменить
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}